body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: linear-gradient(to right, rgb(128, 3, 3), indigo,rgb(0, 0, 121));
    font-family: Arial, sans-serif;
    text-align: center;
}
.container {
    background: rgb(197, 197, 197);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.buttons {
    margin-top: 20px;
}
button {
    padding: 10px 20px;
    margin: 10px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 5px;
}
#yes {
    background: #085c0b;
    color: white;
}
#no {
    background: #920e04;
    color: white;
    position: absolute;
}
.hidden {
    display: none;
}
